*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.head{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, gray,teal);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.head h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.head h1 span{
    background: linear-gradient(45deg, #ab03b7, #ce5db7); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;   
}
textarea{
    width: 600px;
    height: 250px;
    background: #96c1b7;
    color: rgb(11, 11, 66);
    font-size: 20px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    color: rgb(76, 76, 118);
}
.last{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: #79a9a1;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
select{
    flex: 1;
    color: white;
    background: teal;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
}